@import '../../App.scss';

.NewRoomBtn {
  padding: 1rem;
  font-size: 28px;
  width: 100%;
}

.NewRoomBtnContainer {
  max-width: 400px;
}

.CoupHeader {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.NewRoomContainer {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: none;
  height: 240px;
}

.MyName {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.NameChange {
  display: inline-block;
  text-decoration: none;
  margin-left: 1rem;
  margin-bottom: -1px;
}

.NameChange:hover {
  text-decoration: none;
  border-bottom: 1px dotted $dark;
}
